{% if site.organization-logo-nav %} <a class="navbar-brand" href="{{ '/' | relative_url }}"><img id="home-banner-logo" src="{{ site.organization-logo-nav | relative_url }}" alt="logo"></a> {% endif %}

{%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.display_name' | where_exp: 'item', 'item.dropdown_parent == nil' -%} {% for nav in navItems %} {% if nav.stub %}
  <a class="nav-item nav-link {% if page.url == nav.stub | prepend: '/' %} active {% endif %}" href="{{ nav.stub | prepend: '/' | relative_url }}">{{ nav.display_name }}</a>
{%- else -%}
  <div class="nav-item dropdown"> {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %} {%- assign childStubs = navChildren | map: 'stub' -%} <a class="nav-link dropdown-toggle {% if childStubs contains page.slug %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ nav.display_name }}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
{% for c in navChildren %} <a class="dropdown-item {% if page.url == c.stub | prepend: '/' %} active {% endif %}" href="{{ c.stub | prepend: '/' | relative_url }}">{{ c.display_name }}</a> {% endfor %}
</div>
</div>
{% endif %} {%- endfor -%}
{% include nav-search-lunr.html %}
