{% assign carousel_items = site.data[site.metadata] | where_exp: "item", "item.image" %}

{% if carousel_items.size > 0 %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    {% for item in carousel_items limit:5 %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img class="d-block w-100" src="{{ '/objects/' | append: item.image | relative_url }}" alt="{{ item.title }}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ item.title }}</h5>
      </div>
    </div>
    {% endfor %}

  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
{% endif %}
